
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

.mt{
    margin-top: 120px;
}

.flex-box{
    flex-direction: row;
}

/* .text-center{
    text-align: center;
    justify-content: center;
} */

.margin-y{
    margin-top: 15px;
}

ul{
    padding-left: 1.1em;
    font-size: 20px;
    margin-bottom: 10px;
}

ol{
    margin-top: 10px;
}


